<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Visit List</title>
</head>
<body>
  <form method="post" action="/visits/create" th:object="${visit}">
    <div>
      <label>Doctor</label>
      <select id="doctorSelectId" name="doctor" required>
        <option value="" disabled selected>Select doctor</option>
        <option th:each="doctor : ${doctors}" th:value="${doctor.id}" th:text="${doctor.firstName} + ' ' + ${doctor.lastName}"></option>
      </select>
    </div>

    <div>
      <label>Patient</label>
      <select id="patientSelectId" name="patient" required>
        <option value="" disabled selected>Select patient</option>
        <option th:each="patient : ${patients}" th:value="${patient.id}" th:text="${patient.firstName} + ' ' + ${patient.lastName}"></option>
      </select>
    </div>

    <div>
      <label>Visit type</label>
      <select id="visitTypeId" name="visitType" required>
        <option value="" disabled selected>Select visit type</option>
        <option th:each="visitType : ${visitTypes}" th:text="${visitType}" th:value="${visitType}"/>
      </select>
    </div>

    <div>
      <label>Visit date</label>
      <input type="date" name="visitDate" th:min="${today}" required>
    </div>

    <div>
      <label>Duration in minutes</label>
      <input type="number" name="durationInMinutes" th:min="0" th:max="90" required>
    </div>

    <button type="submit">Submit</button>
  </form>
</body>
</html>