<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Visit List</title>
</head>
<body>

<form action="/visits" method="get">
    <label for="visitType">Visit Type:</label>
    <input type="text" name="visitType" id="visitType">

    <label for="doctorLastName">Doctor Last Name:</label>
    <input type="text" name="doctorLastName" id="doctorLastName">

    <label for="patientLastName">Patient Last Name:</label>
    <input type="text" name="patientLastName" id="patientLastName">

    <label for="visitDate">Visit Date:</label>
    <input type="datetime-local" name="visitDate" id="visitDate">

    <label for="durationTime">Duration Time:</label>
    <input type="number" name="durationTime" id="durationTime">

    <select name="sortBy" id="sortBy">
        <option value="" disabled selected>Sort By</option>
        <option th:each="type : ${visitsSortBy}" th:value="${type}" th:text="${type}"></option>
    </select>

    <button type="submit">Search</button>
</form>


<table>
    <thead>
    <tr>
        <th>Doctor First Name</th>
        <th>Doctor Last Name</th>
        <th>Patient First Name</th>
        <th>Patient Last Name</th>
        <th>Visit Type</th>
        <th>Visit Date</th>
        <th>Duration in minutes</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="visit : ${visits}">
        <td th:text="${visit.doctor.firstName}"></td>
        <td th:text="${visit.doctor.lastName}"></td>
        <td th:text="${visit.patient.firstName}"></td>
        <td th:text="${visit.patient.lastName}"></td>
        <td th:text="${visit.visitType}"></td>
        <td th:text="${visit.formattedVisitDate}"></td>
        <td th:text="${visit.durationInMinutes}"></td>
    </tr>
    </tbody>
</table>
<button onclick="location.href='visits/create'">Create Visit</button>

</body>
</html>
