<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Visit List</title>
</head>
<body>
<form action="/visits" method="get">
    <label for="visitType">Search by Visit Type:</label>
    <select name="visitType" id="visitType">
        <option th:each="type : ${visitTypes}" th:value="${type}" th:text="${type}"></option>
    </select>
    <button type="submit">Search</button>
</form>


<table>
    <thead>
    <tr>
        <th>Doctor First Name</th>
        <th>Doctor Last Name</th>
        <th>Patient First Name</th>
        <th>Patient Last Name</th>
        <th>Visit Type</th>
        <th>Visit Date</th>
        <th>Duration in minutes</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="visit : ${visits}">
        <td th:text="${visit.doctor.firstName}"></td>
        <td th:text="${visit.doctor.lastName}"></td>
        <td th:text="${visit.patient.firstName}"></td>
        <td th:text="${visit.patient.lastName}"></td>
        <td th:text="${visit.visitType}"></td>
        <td th:text="${visit.date}"></td>
        <td th:text="${visit.durationInMinutes}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>
