<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search Visits</title>
</head>
<body>

<h2>Search Results</h2>

<table>
    <thead>
    <tr>
        <th>Doctor First Name</th>
        <th>Doctor Last Name</th>
        <th>Patient First Name</th>
        <th>Patient Last Name</th>
        <th>Visit Type</th>
        <th>Visit Date</th>
        <th>Duration in minutes</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="visit : ${visits}">
        <td th:text="${visit.doctor.firstName}"></td>
        <td th:text="${visit.doctor.lastName}"></td>
        <td th:text="${visit.patient.firstName}"></td>
        <td th:text="${visit.patient.lastName}"></td>
        <td th:text="${visit.visitType}"></td>
        <td th:text="${visit.date}"></td>
        <td th:text="${visit.durationInMinutes}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>
